/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.mx-vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.mx-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.mx-vh-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.mx-fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

@keyframes burger-first-line {
  10% {
    top: calc((100% / 3) - 5px * 2); }
  70% {
    top: calc((100% / 2) -  5px / 2);
    transform: rotate(0); }
  100% {
    top: calc((100% / 2) -  5px / 2);
    transform: rotate(45deg); } }

@keyframes burger-second-line {
  10% {
    top: calc((100% / 2) -  5px / 2); }
  70% {
    top: calc((100% / 2) -  5px / 2);
    transform: rotate(0); }
  100% {
    top: calc((100% / 2) -  5px / 2);
    transform: rotate(45deg); } }

@keyframes burger-third-line {
  10% {
    top: calc((100% / 3) * 2  +  5px); }
  70% {
    top: calc((100% / 2) -  5px / 2);
    transform: rotate(0); }
  100% {
    top: calc((100% / 2) -  5px / 2);
    transform: rotate(-45deg); } }

@keyframes burger-first-line-rev {
  0% {
    top: calc((100% / 2) -  5px / 2);
    transform: rotate(45deg); }
  20% {
    transform: rotate(0); }
  70% {
    top: calc((100% / 2) -  5px / 2); }
  100% {
    transform: rotate(0);
    top: calc((100% / 3) - 5px * 2); } }

@keyframes burger-second-line-rev {
  0% {
    top: calc((100% / 2) -  5px / 2);
    transform: rotate(45deg); }
  20% {
    transform: rotate(0); }
  70% {
    top: calc((100% / 2) -  5px / 2); }
  100% {
    transform: rotate(0);
    top: calc((100% / 2) -  5px / 2); } }

@keyframes burger-third-line-rev {
  0% {
    top: calc((100% / 2) -  5px / 2);
    transform: rotate(-45deg); }
  20% {
    transform: rotate(0); }
  70% {
    top: calc((100% / 2) -  5px / 2); }
  100% {
    transform: rotate(0);
    top: calc((100% / 3) * 2  +  5px); } }

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }

.menu {
  background: black;
  mix-blend-mode: screen; }
  .menu__list {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 600px; }

.burger {
  position: relative;
  z-index: 10;
  width: 120px;
  height: 120px;
  cursor: pointer;
  background: rgba(238, 238, 238, 0.2);
  mix-blend-mode: screen;
  transition: background 300ms linear; }
  .burger.-radial {
    border-radius: 50%; }
  .burger.-smooth {
    border-radius: 30px; }
  .burger.-theme_corall {
    background: #ff7a7a; }
  .burger.-theme_fringy-flower {
    background: #A9D9BC; }
  .burger.-theme_persimmon {
    background: #FF5E51; }
  .burger.-theme_cerulean {
    background: #00bce1; }
  .burger__line {
    position: absolute;
    z-index: 2;
    width: 60%;
    left: calc(((100% - 60%) / 2));
    right: calc(((100% - 60%) / 2));
    height: 5px;
    background: #000; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .burger__line {
        background: #333; } }
    .burger__line.-first {
      top: calc((100% / 3) - 5px * 2); }
    .burger__line.-second {
      top: calc((100% / 2) - 5px / 2); }
    .burger__line.-third {
      top: calc((100% / 3) * 2 + 5px); }
  .burger:hover {
    background: #eeeeee;
    transition: background 300ms linear; }
  .burger.-active .burger__line.-first {
    animation: burger-first-line 800ms forwards; }
  .burger.-active .burger__line.-second {
    animation: burger-second-line 800ms forwards; }
  .burger.-active .burger__line.-third {
    animation: burger-third-line 800ms forwards; }
  .burger.-folded .burger__line.-first {
    animation: burger-first-line-rev 800ms forwards; }
  .burger.-folded .burger__line.-second {
    animation: burger-second-line-rev 800ms forwards; }
  .burger.-folded .burger__line.-third {
    animation: burger-third-line-rev 800ms forwards; }

.slider.-main {
  width: 100vw;
  height: 100vh; }

.image {
  max-width: 100%;
  vertical-align: middle; }
