.mx-vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.mx-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.mx-vh-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mx-fill{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}