$colorGallery: #eeeeee;
$colorWhite: #fff;
$colorBlack: #000;
$colorMineShaft: #333;
$colorGray: #929292;
$colorSalmon: #ff7a7a;
$colorFringyFlower: #A9D9BC;
$colorPersimmon: #FF5E51;
$colorCerulean: #00bce1;